<div ng-controller="ProductsCtrl">
		<p><i class="glyphicon glyphicon-shopping-cart"></i> {{itemsInCart}}  
			<a ng-if="itemsInCart > 0" ng-href="#!/checkout" class="btn btn-default">Checkout</a>
		</p>
		<ul class="products row">
			<li ng-repeat="product in products" class="col-md-4">
				<figure>
					<img ng-src="{{product.image}}" alt="" class="img-responsive" />
				</figure>
				<h4>{{product.title}}</h4>
				<div>{{product.price | currency}}</div>
				<p><a href="" ng-click="add(product)" class="btn btn-primary">Add to cart</a></p>
			</li>
		</ul>
	</div>